/* ==========================================================================
   Neon skin - Hacker Muted Edition
   ========================================================================== */

/* Colors */
$background-color: #0b0909 !default; 
$text-color: #00cc55 !default;       
$primary-color: #10c830 !default;    
$border-color: mix(#10c830, $background-color, 25%) !default; 
$code-background-color: #040404 !default; 
$code-background-color-dark: #000000 !default;
$form-background-color: mix(#000, $background-color, 25%) !default;
$footer-background-color: mix($primary-color, #000, 5%) !default;
$link-color: $primary-color !default;
$link-color-hover: #e0e0e0 !default; 
$link-color-visited: mix(#000, $link-color, 40%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: #e0e0e0 !default;
$navicon-link-color-hover: mix(#000, $background-color, 40%) !default;

/* notices */
$notice-background-mix: 95% !default;
$code-notice-background-mix: 98% !default;

/* neon syntax highlighting (base16) */
$base00: #080808 !default; 
$base01: #101410 !default;
$base02: #142817 !default; 
$base03: #008833 !default;
$base04: #00cc55 !default; 
$base05: #00cc77 !default;
$base06: #e0e0e0 !default;
$base07: #66d993 !default;
$base08: #cc3333 !default; 
$base09: #cc8800 !default; 
$base0a: #cccc00 !default; 
$base0b: #00cc22 !default; 
$base0c: #00cccc !default; 
$base0d: #2a7acc !default; 
$base0e: #aa22aa !default;
$base0f: #cc5500 !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

/* next/previous buttons */
.pagination--pager {
  color: #000000; 
  background-color: $primary-color;
  border-color: transparent;

  &:visited {
    color: #000000;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}